/* external style sheet */
body {
    background-color: rgb(209, 209, 209);
    margin-top: -100px;
    text-align: center;
}

header {
    background-color: rgb(255, 255, 218);
    border-right: 20px solid rgb(209, 209, 20);;
    position: fixed;
    width: 100%;
}
#headeritems {
    display: flex;
    margin-top: 100px;
}
#logopic {
    height: 60px;
    width: 200px;
}

#searchbar {
    margin-top: auto;
    margin-left: auto;
    margin-right: 15px;
    text-align: left;
}

/* #page color set */
main {
    background-color: rgb(255, 79, 79);
    padding-top: 180px;
}

menu {
    background-color: rgb(255, 255, 218);
    height: 100%;
    width: 200px;
    position: fixed;
    margin-top: 0px;
}

#signup {
    background-color: orange;
    margin: 20px;
    border-radius: 10px;    
    padding: 15px;
}

#sign_in {
    background-color: rgb(255, 255, 157);
    margin: 20px;       
    padding: 10px;
    border-radius: 10px;
}

article {
    margin-left: 240px;
}

#keymessage {
    background-color: white;
}

.picrow {
    display: flex;
}

/* #page color set */
.featured_image_set {
    margin: auto;
    width: 33.3333%;
    padding: 4px;
    background-color:  rgb(255, 79, 79);
}

/* #page color set */

.for-you_image_set {
    margin: auto;
    width: 33.3333%;
    padding: 4px;
    background-color: rgb(255, 79, 79);    
}

img {
    width: 100%;
}

nav {
    margin-top: 200px;
}
footer {
    width: 200px;
}